
.about-me{
 margin: 2vh;
 height: 1200px;
 background: gray;
    
}

.about-me-title{
    //40 px
    font-size: 5vh;
    margin: 1vh 0vh 2vh 0vh;
}

.about-me-subtitle, p   {
    //16px
    font-size: 2vh;
    word-break: break-all;
    margin: 1vh 0vh 2vh 0vh;
}



