
.about-me{
 margin: 0vh 5vh 0vh 5vh;
 padding: 9vh 0vh 9vh 0vh;
 height: auto; 
}

.about-me-title{
    //40 px
    font-size: 5vh;
    margin: 1vh 0vh 2vh 0vh;
}

.about-me-subtitle, p   {
    //16px
    font-size: 2vh;
    word-break: break-all;
    margin: 1vh 0vh 2vh 0vh;
}



