.footer{
    background: linear-gradient(0deg, rgb(36, 86, 204) 0%, rgb(36, 86, 204) 47%, rgba(0,40,85,1) 100%); 
    height: 1100px;
}

.footer-top{
    width: 100%;
    margin-bottom: -6px;
    margin-left: -1px;
}

