.footer-content{
    background: linear-gradient(180deg, rgb(0,40,85) 0%, rgb(0,38,107) 47%, rgb(29,69,166) 100%);

    height: 200px;

}

.footer-top{
    width: 100%;
    height: auto;
    margin-bottom: -5px;
}

.footer-content{
    padding: 4%
}