$blue: #002855;
$off-white:#EBFFFF;

.header-content{
    height: auto;
    display: grid;
    padding: 5vh;
    grid-template-columns: (65% auto);
    grid-template-rows: ( 1fr auto .6fr 2fr);
    grid-template-areas: 
    ". banner-image"
    "header-title banner-image"
    "header-subtitle banner-image"
    "header-button banner-image"
    ;   
}

.header-content{
    background: linear-gradient(0deg, rgb(36, 86, 204) 0%, rgba(0,38,107,1) 47%, rgba(0,40,85,1) 100%); 
}

.header-title{
    grid-area: header-title;
    align-self: end;
    font-weight: 800;
    font-size: 10vh;
    color: $off-white;
}

.header-subtitle{
    margin-top: 1vh;
    grid-area: header-subtitle;
    font-weight: 700;
    font-size: 4vh;
    color: $off-white;
}

.wave{
    width: 100%;
    height: auto;
    margin-top: -4px;
}

.banner-image{
    grid-area: banner-image;
    width: 50vh;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    grid-area: header-button;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:transparent;
    text-decoration: none;
    margin-top: 2vh;
    border:0.4vh solid $off-white;
    border-radius: 0.4vh;
	cursor:pointer;
	color: $off-white;
    font-size:2.5vh;
    font-weight: 700;
    max-width: 20vh;
    max-height: 5vh;
}

.button:hover {
    background-color:$off-white;
    color: $blue;
}

.button:active {
	position:relative;
    top:1px;
    left: 1px;
    border: .4vh $off-white solid;
    border-radius: 0.4vh;
}

.button:focus{
    outline: 0;
}

@media (max-width: 480px) {
    .header-content{
        display: flex;
        flex-direction: column;
    }

    .banner-image{
        width: 20vh;
        display: block;
        margin: 2vh auto 0vh auto;
    }

    .header-title{
        font-size: 5vh;
    }

    .header-subtitle{
        font-size: 2.8vh;
    }

    .button{
        align-self: center;
        font-size: 2.5vh;
        max-width: 40vh;
        width: 100%;
    }
  }


  

