$background-color: #002855;
$primairy-text-color:#EBFFFF;


.header-content{
    display: grid;
    padding: 2%;
    grid-template-columns: (65% auto);
    grid-template-rows: (auto auto auto);
    grid-template-areas: 
    "header-title banner-image"
    "header-subtitle banner-image"
    "header-button banner-image"
    ;
}

.header-content{
    background-color: $background-color;
}

.header-title{
    grid-area: header-title;
    font-weight: 800;
    font-size: 9vh;
    margin: 2vh;
    color: $primairy-text-color;
}

.header-subtitle{
    grid-area: header-subtitle;
    font-weight: 700;
    font-size: 4.5vh;
    color: $primairy-text-color;
    margin: 0vh 2vh 1vh 2vh
}

.wave{
    width: 100%;
    height: auto;
    margin-top: -4px;

}

.banner-image{
    grid-area: banner-image;
    width: 50vh;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
	background-color:transparent;
	border-radius:.8vh;
	border:0.4vh solid $primairy-text-color;
	display:inline-block;
	cursor:pointer;
	color:$primairy-text-color;
    font-size:3vh;
    font-weight: 600;
    padding:1.3vh 2vh;
    grid-area: header-button;
    max-width: 20vh;
    margin: 3vh 2vh 1vh 2vh
}

.button:hover {
    background-color:$primairy-text-color;
    color: $background-color;
}
.button:active {
	position:relative;
    top:1px;
    left: 1px;
}

.button:focus{
    outline: 0;
    -moz-outline-style: none;
}


@media (max-width: 480px) {
    .header-content{
        display: flex;
        flex-direction: column;
    }

    .banner-image{
        width: 20vh;
        display: block;
        margin: 2vh auto 0vh auto;
    }

    .header-title{
        font-size: 5vh;
    }

    .header-subtitle{
        font-size: 2.8vh;
    }

    .button{
        align-self: center;
        font-size: 2.5vh;
        max-width: 40vh;
        width: 100%;
    }
  }
