$background-color: #1D3557;
$primairy-text-color:#EBFFFF;


.header-content{
    display: grid;
    padding: 2%;
    grid-template-columns: (65% auto);
    grid-template-rows: (auto auto auto);
    grid-template-areas: 
    "header-title banner-image"
    "header-subtitle banner-image"
    "header-button banner-image"
    ;
}


.header-content{
    background-color: $background-color;
}
.header-title{
    grid-area: header-title;
    font-weight: 800;
    //90px
    font-size: 9vh;
    color: $primairy-text-color;
}

.header-subtitle{
    grid-area: header-subtitle;
    font-weight: 700;
    //45px
    font-size: 4.5vh;
    color: $primairy-text-color;
}

.wave{
    width: 100%;
    height: auto;
    margin-top: -4px;
}

.banner-image{
    grid-area: banner-image;
    align-items: center;
    align-self: center;
    width: 40vh;
}

.button {
	background-color:transparent;
	border-radius:.8vh;
	border:0.4vh solid $primairy-text-color;
	display:inline-block;
	cursor:pointer;
	color:$primairy-text-color;
    font-size:3vh;
    font-weight: 600;
    padding:1.3vh 2vh;
    grid-area: header-button;
    max-width: 20vh;
}

.button:hover {
    background-color:$primairy-text-color;
    color: $background-color;
}
.button:active {
	position:relative;
    top:1px;
    left: 1px;
}

.button:focus{
    outline: 0;
    -moz-outline-style: none;
}


