.wrapper {
  position: fixed;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh ;
  backdrop-filter:blur(4px) ;
}

.r-link {
  display: inline-flex;
  text-align: start;
  color: #ebffff;
  text-decoration: none;

}

.r-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

  .border {
  border: .4vh solid;
  border-radius: 0.4vh;
}



.menu-list {
  display: flex;
  margin: 1vh 0vh 0vh 5vh;
}

.menu-link {
  padding: 0.5rem 2.1rem;
  font-size: 2vh;
  text-align: start;
  font-weight: 700;
}

//underlined animation
.text-underlined {
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color 0.25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: .4vh;
  background-color: var(--textUnderlinedLineColor, currentColor);
  will-change: width;
  transition: width 0.1s ease-out;
  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 96%;
  transition-duration: 0.2s;
}
