.wrapper{
    margin: 0px;
    background-image: url(../svg/ContentBackground.svg);
    background-repeat: repeat;
    width: 100%;
    height: 500px;
    padding-top: 300px;
}

.wave{
    height: 300px;
    background-image: url(../svg/Wave.svg) ;
    background-repeat: no-repeat;
    background-size: 100%;
  
}

.wrapper{
    margin: 0px;
    padding: 0px;
}

