$background-color: #1D3557;
$primairy-text-color:#EBFFFF;



.header-content{
    background-color: $background-color;

}
.header-title{
    font-weight: 800;
    font-size: 89px;
    color: $primairy-text-color;
}

.header-subtitle{
    font-weight: 700;
    font-size: 45px;
    color: $primairy-text-color;
}

.wave{
    width: 105%;
    height: auto;
    margin-top: -4px;
}

.banner-image{
    width: 20%;
}

.button {
	background-color:transparent;
	border-radius:8px;
	border:4px solid $primairy-text-color;
	display:inline-block;
	cursor:pointer;
	color:$primairy-text-color;
    font-size:45px;
    font-weight: 600;
    padding:13px 20px;
}
.button:hover {
    background-color:$primairy-text-color;
    color: $background-color;
}
.button:active {
	position:relative;
    top:1px;
    left: 1px;
}

.button:focus{
    outline: 0;
    -moz-outline-style: none;
}

