$primary-color: #1D3557;


.header{
    background-color: $primary-color;

}

.wave{
    position: relative;
    background-color: red;
    width: 100%;
    margin-bottom: -4px ;
    background-image: url(../svg/ContentBackground.svg);
    background-position-x: 50px;
}