@import "./App.scss";
@import "../Components/Header/Header.scss";
@import "../Components/Content/Content.scss";
@import "../Components/Footer/Footer.scss";
@import "https://fonts.googleapis.com/css?family=Montserrat";

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  width: 100%;
  min-width: fit-content;
  overflow-x: hidden;
  background-color: rgb(242, 242, 242);
  
}

html{
  scroll-behavior: smooth;
}

.app{
  width: 100%;
}

h1{
  //40 px
  font-size: 5vh;
  margin: 1vh 0vh 2vh 0vh;
}

p   {
  //16px
  font-size: 2vh;
  word-break: break-all;
  margin: 1vh 0vh 2vh 0vh;
}

