@import "./App.scss";
@import "./Header.scss";
@import "./Content.scss";

@import "https://fonts.googleapis.com/css?family=Montserrat";

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  width: 100%;
  min-width: fit-content;
  background-image: url(../svg/ContentBackground.svg);
}
