@import "./App.scss";
@import "../Components/Header/Header.scss";
@import "../Components/Content/Content.scss";
@import "../Components/Footer/Footer.scss";
@import "https://fonts.googleapis.com/css?family=Montserrat";

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  width: 100%;
  min-width: fit-content;
  overflow-x: hidden;
  background-color: #EBFFFF;
}

html{
  scroll-behavior: smooth;
}

.app{
  width: 100%;
}

p{
  word-break: break-all;
}