@import "./App.scss";
@import "./Header.scss";
@import "./Content.scss";

@import "https://fonts.googleapis.com/css?family=Montserrat";

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  height: 4000px;
}
